<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../src/css/style.css">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container">
      <header>
        <p>
          <span class="badge {{state}}">{{state}}</span>
          <span class="url">{{quicklink}}</span>
        </p>
        <h1>{{title}}</a>
      </header>
      <div class="comments">
        <div class="comment">
          <div class="meta">
            <a class="person" href="https://github.com/{{createdBy}}">{{createdBy}}</a>
            <time>{{createdOn}}</time>
          </div>
          <div class="body">
            {{# if body}}{{{body}}}{{else}}<i>No body given.</i>{{/if}}
          </div>
        </div>

        {{#comments}}
        <div class="comment">
          <div class="meta">
            <a class="person" href="{{user.html_url}}">
              {{user.login}}
            </a>
            <time>{{created_at}}</time>
          </div>
          <div class="body">{{{body}}}</div>
        </div>
        {{/comments}}
      </div>
    </div>
  </body>
</html>
