<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../src/css/style.css">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>{{title}}</a>
      </header>
      <div class="issue">
      {{{body}}}
      </div>

      <div class="comments-container">
      {{#comments}}
      <p class="meta">from: <a href="{{html_url}}">{{user.login}}</a> on: {{created_at}}</p>
      {{{body}}}
      {{/comments}}
      </div>
    </div>
  </body>
</html>
